<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chameleon.cilicili.dao.impl.UserInfoDaoImpl">
    <resultMap id="userInfoMap" type="com.chameleon.cilicili.model.entity.UserInfo"></resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info (user_id, username, email, password) 
        VALUES (#{userId}, #{username}, #{email}, #{password})
    </insert>

    <update id="update">
        UPDATE user_info SET username = #{username}, email = #{email} WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="userInfoMap">
        SELECT * FROM user_info WHERE user_id = #{userId}
    </select>

    <delete id="deleteById">
        DELETE FROM user_info WHERE user_id = #{userId}
    </delete>

    <select id="selectAll">
        SELECT * FROM user_info
    </select>

</mapper>
